---
import {type CollectionEntry, getCollection, render} from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import fs from "node:fs";
import {GET} from "../api/[deck].json.ts";
// TODO Rename this
import {GET as GET2} from "../api/_db.json.ts";
import type {GetStaticPaths, Params} from "astro";
import {type Card, type DeckCard, getCheapestListing} from "../../pricing.ts";

export const getStaticPaths = async () => fs.readdirSync('src/content/prices').filter(value => value.split('.').at(-1) === 'csv').map(value => ({params: {deck: value.split('.').at(0)}})) satisfies GetStaticPaths;

const {deck} = Astro.params as Params;
const {} = Astro.props;
const content = GET(Astro)
const cards: DeckCard[] = await content.json();
const db: Card[] = await (await GET2(Astro)).json()
---
<Layout>
    <main class="responsive">
        <div class="surface">
            <!--TODO Clean this up-->
            <h5>{deck} Cost Breakdown</h5>
            <table class="border">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="right-align">Price</th>
                    <th class="right-align">Quantity</th>
                    <th class="right-align">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="primary-container">
                    <th>Core Cards</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {cards.filter(value => value.Type === "Core").map(value => {
                    const cost = getCheapestListing(value.Name, db)
                    // TODO Handle null situation
                    return (
                            <tr>
                                <td><a href={cost.url} target="_blank" rel="noopener noreferrer">{value.Name}</a></td>
                                <td class="right-align">${cost?.lowPrice && cost.lowPrice.toFixed(2)}</td>
                                <td class="right-align">{value.Quantity}</td>
                                <td class="right-align">${(cost?.lowPrice * value.Quantity).toFixed(2)}</td>
                            </tr>);
                })}
                <tr class="secondary-container">
                    <th>Generic Cards</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {cards.filter(value => value.Type === "Generic").map(value => {
                    const cost = getCheapestListing(value.Name, db)
                    return (
                            <tr>
                                <td><a href={cost.url} target="_blank" rel="noopener noreferrer">{value.Name}</a></td>
                                <td class="right-align">${cost?.lowPrice && cost.lowPrice.toFixed(2)}</td>
                                <td class="right-align">{value.Quantity}</td>
                                <td class="right-align">${(cost?.lowPrice * value.Quantity).toFixed(2)}</td>
                            </tr>);
                })}
            </table>
        <!--    TODO Add total-->
        </div>
    </main>
</Layout>
