---
import Layout from "../../layouts/Layout.astro";
import {getCollection} from "astro:content";
import {getDeckPricing} from "../../pricing.ts";
import {PricingCard} from "../../layouts/PricingCard.tsx";
import Image from "astro/components/Image.astro";
import {Content as Blurb} from './_blurb.md'
import {REPO_NAME} from "../../consts.ts";

const decks = await getCollection('decks')
    .then(deckCollection => Promise.allSettled(deckCollection.map(async value => ({pricing: await getDeckPricing(value.id), data: value}))))
    .then(value => value.filter(promise => promise.status === "fulfilled").map(promise => promise.value))
// TODO Add generic / pile warning
---
<Layout>
    <main class="responsive">
        <Blurb/>
        <div class={"grid"}>
            {decks.map(value => {
                const deckName = value.data.id
                return (<a href={`/${REPO_NAME}/decks/${deckName}/pricing`} style="display: contents">
                    <PricingCard name={value.data.data.title} nation={value.data.data.nation} pricing={value.pricing}>
                        <Image style={{minHeight: "100%", minWidth: "100%", objectFit: "cover", objectPosition: "top", "--_size": 0}} widths={[500]} transition:name={`img_${value.data.data.title}`} class="responsive" src={value.data.data["card-art"]} alt={value.data.data.title}/>
                    </PricingCard>
                </a>)
            })}
        </div>
    </main>
</Layout>