---
import {REPO_NAME} from "../consts.ts";
import {ModeToggle} from "./ModeToggle.tsx";
import '@fontsource/audiowide';
---
<header class="primary-container">
    <nav>
        <h6 class="max"><a href={`/${REPO_NAME}`} style="font-family: Audiowide,system-ui"> VG Ridelines</a></h6>
        <a href={`/${REPO_NAME}/decks`}>
            <button>
                <i>playing_cards</i>
                Decks
            </button>
        </a>
        <a href={`/${REPO_NAME}/prices`}>
            <button>
                <i>price_check</i>
                Prices
            </button>
        </a>
        <ModeToggle client:only="react"/>
    </nav>
</header>
